<div class="home-card-container">
  <md-card>
    <md-card-title class="home-title">{{ 'LOVE_TECH' | translate }}</md-card-title>
    <md-card-content>
      <p>
        {{'ABOUT_REWARD' | translate}}
      </p>
      <p>
        {{'ABOUT_ADD' | translate}}
      </p>

      <form (submit)="addName()" class="home-form">
        <div>
          <md-input [(ngModel)]="newName" name="newName" class="home-input" [placeholder]="'INPUT_HINT' | translate" ngDefaultControl></md-input>
          <button md-raised-button color="primary" type="submit" class="home-button">{{'ADD_BTN_TEXT' | translate}}</button>
        </div>
      </form>

      <md-list class="home-list">
        <md-list-item *ngFor="let name of (nameListService.names | async)">
          <h3 md-line>{{name}}</h3>
          <p md-line class="demo-secondary-text">secondary text</p>
        </md-list-item>
      </md-list>

      <p>
        <a class="link" (click)="readAbout()">About - RouterExtensions example</a>
      </p>

    </md-card-content>
  </md-card>
</div>
